<% if (success.length) { %> 
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <%= success %> 
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %> 
