<% layout('layouts/boilerplate') -%>
<h1><i>List of CampGrounds</i></h1>
<div>
    <a href="/campgrounds/new"><i>Add a new Campground</i></a>
</div>
<ul>
    <% for(let campground of campgrounds) { %>
        <li><i><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></i></li>
    <% } %> 
</ul>
