<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1><i><%= campground.title %></i></h1>
    <h2><i><%= campground.location %></i></h2>
    <p>
        <a href="/campgrounds/<%= campground._id %>/edit"><i>Edit</i></a>
    </p>
    <a href="/campgrounds"><i>Back to listing</i></a>
</body>
</html>
