<% layout('layouts/boilerplate') -%>
<h1><i><%= campground.title %></i></h1>
<h2><i><%= campground.location %></i></h2>
<p>
    <a href="/campgrounds/<%= campground._id %>/edit"><i>Edit</i></a>
</p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<footer>
    <a href="/campgrounds"><i>Back to listing</i></a>
</footer>
